

.footer {
  position: relative;
  background-color: #0A2850;
  color: #fff;
  padding: 60px 20px 40px;
  overflow: hidden;
  
}

.footer::before {
    content: "";
    position: absolute;
    top: -128px;
    left: -44px;
    width: 340px;
    height: 340px;
    background-color: #2f80ed;
    border-radius: 50%;
    z-index: 0;
}

.footer__columns {
  position: relative;
  display: block;
  gap: 60px;
  margin-bottom: 20px;

  position: relative;
  z-index: 1;
}

.footer__column:first-child {
  display: block;
}

.footer__logo {
  margin-left: 80px;
  width: 105px;
  margin-bottom: 40px;
  height: 39px;
}

.footer__column_content_social {
  max-width: 200px;
  position: absolute;
  right: 80px;
  top: 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 600;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 12px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__column-link:focus-visible {
    color: #C1C1C1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  left: 80px;
  font-size: 14px;
  margin-top: 108px;
  


  position: relative;
  z-index: 1;

}