
.form {
  max-width: 385px;
  width: 100%;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  height: 60px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 12px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
  accent-color: #2f80ed;
}