.header {
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.header__content {
  max-width: 709px;
  z-index: 1;
}

.header__title {
  margin: 0 0 28px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  letter-spacing: -1px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between; 
  align-items: flex-end; 
  margin-top: auto; 
  width: 100%;
  position: relative;
  z-index: 5;
}


.header__address {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383; 
  text-align: right;
}


.header__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__time {
  text-align: left;
  color: #838383;
}